<div class="wrapper">

    <div class="head">
        <h1 class="title">Castle Dashboard</h1>
    </div>

    <div class="content">
        <div class="content-head">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addProjectModal">
                Add Project
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables">
                <thead>
                    <tr>
                        <th></th>
                        <th>Project Name</th>
                        <th># of Tests</th>
                        <th># OK (%)</th>
                        <th># NOK (%)</th>
                        <th>STD (%)</th>
                        <th>Coverage (%)</th>
                        <th>Update Date</th>
                        <th>Refresh Date</th>
                        <th>SW Version</th>
                        <th>SVN URL</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each projects}}
                    <tr>
                        <td class="btn-cell">
                            <button type="button" title="Generate the report" class="btn btn-xs btn-default">Update</button>
                            <button type="button" title="execute" class="btn btn-xs btn-basic">Execute</button>
                        </td>
                        <td>{{ this.proj_name }}</td>
                        <td>{{ this.num_of_Tests }}</td>
                        <td>{{ this.num_passed }}</td>
                        <td>{{ this.num_failed }}</td>
                        <td>{{ this.num_std }}</td>
                        <td>{{ this.coverage }}</td>
                        <td>{{ this.update_data }}</td>
                        <td>{{ this.refresh_date }}</td>
                        <td>{{ this.sw_version }}</td>
                        <td>{{ this.svn_url }}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add Project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="text" id="form3" class="form-control validate" placeholder="Enter project name">
                        <label data-error="wrong" data-success="right" for="form3"></label>
                    </div>

                    <div class="md-form mb-4">
                        <input type="text" id="form2" class="form-control validate" placeholder="Enter project url">
                        <label data-error="wrong" data-success="right" for="form2"></label>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="btn" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button class="btn btn-indigo">Sumbit <i class="fa fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p><strong>Copyright</strong> Valeo - VIS &copy; 2017</p>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.dataTables').DataTable({
            "columnDefs": [
                { "width": "5%", "targets": 0 }
            ]
        });
    });

    function updateProject(id) {
        $.ajax({
            type: "GET",
            url: 'http://cai1-sv00075:8080/job/GenerateProject/buildWithParameters',
            data: {
                token: 'dashboardToken',
                PROJECT_NAME: id
            },
            crossDomain: true
        });
    }

    function runProject(id, el) {
        $.ajax({
            type: "GET",
            url: 'http://cai1-sv00075:8080/job/RunProject/buildWithParameters',
            data: {
                token: 'dashboardToken',
                PROJECT_NAME: id
            }
        });
    }
</script>